<div class="image-container">
  @if (loading()) {
    <p class="loading">⏳ Generating...</p>
  }
  <input
    [disabled]="loading() || !!imageUrl()"
    [value]="message()"
    (input)="updateInput($event)"
    placeholder="Describe image..."
  />
  @if(!imageUrl()) {
        <button 
            [disabled]="!message().trim() || loading()"
            (click)="generateImage()"
        >Generate</button>
  }


  @if (imageUrl()) {
    <div class="result">
        <h3>📸 Generated Image</h3>
        <img [src]="imageUrl()" />
        <div class="actions">
            <button (click)="downloadImage()">⬇️ Download</button>
            <button (click)="reset()">🔄 Generate Again</button>
        </div>
    </div>
  }
</div>
