<div class="container">

  <section class="header">
    <img class="logo" src="/ai/assets/logo.png" alt="AI HUB" class="logo">
    <app-weather />
  </section>

  <div class="menu">
    <button (click)="setMode('chat')" [disabled]="mode() === 'chat'">
      💬 Chat
    </button>

    <button (click)="setMode('image')" [disabled]="mode() === 'image'">
      🖼️ Image
    </button>

    <button (click)="setMode('vision')" [disabled]="mode() === 'vision'">
      👁️ Vision
    </button>
  </div>

  <div class="content">
    @if (mode() === 'chat') {
      <app-chat />
    }

    @if (mode() === 'image') {
      <app-image-gen />
    }

    @if (mode() === 'vision') {
      <app-vision-ai />
    }
  </div>

</div>
