.weather-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 1em;
    color: white;
    width: 14em;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
  }
  
  main {
    text-align: center;
  }

  .header {
    opacity: 0.8;
    font-size: 1.2em;
  }
  
  .main {
    display: flex;
    align-items: center;
    gap: .8em;
  }
  
  .main img {
    width: 5em;
  }
  
  .temp {
    font-size: 3em;
    font-weight: bold;
  }
  
  .desc {
    margin-top: .2em;
    opacity: 0.8;
    font-size: 1.4em;
    color: #94a3b8;
    font-weight: 700;
  }
  
  .details {
    margin-top: .8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.1em;
    gap: .8em;

    span {
        display: flex;
        align-items: center;
        justify-content: start;
    }
  }